

.grid {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;

	padding: 10px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	gap: 10px;

	max-width: 870px;
}

.hero {
	padding: 0;

	float: left;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;

	text-decoration: none;

	font-family: Helvetica;
	font-weight: bold;
	color: #FFF;
	width: 100px;
	max-width: 100px;
	
	background-color: #222831;
}

.hero:hover {
	color: #00ADB5;
	background-color: #181D23;
}

.hero-imagepanel {
	max-width: 100px;
	max-height: 100px;
}

.hero-image {
	width: 100px;
}

.hero-namepanel {
	margin: 0;

	display: flex;

	justify-content: center;
	align-items: center;

	width: 100px;
	height: 30px;

	color: white;
	background-color: #00ADB5;
}

.hero-name {
	margin: 0;
	text-align: center;
}